<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Company Profile</title>
</head>
<body>
{% block content %}
  <h1>Edit Profile</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
  </form>
{% endblock %}
</body>
</html>

<!--
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Checkout example for Bootstrap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="GeneralStyle.css" rel="stylesheet">
  </head>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="company_admin_landing.html">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
  </ol>
</nav>
  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <h2>Edit Buy PooPooOnline's Profile</h2>
      </div>

      <div class="row">
        <div class="col-xl">
          <h4 class="mb-3">Information</h4>
            <div class="form-group">
            <div class="input-group-prepend">
                  <span class="input-group-text">Biography</span>
                </div><textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div class="mb-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Website</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="www.gobuystuff.com" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>
        </div>
    
        <a class="btn btn-primary btn-lg btn-block" type="submit" href="company_admin_landing.html">Save Account</a>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
-->