<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Add Recruiter</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="GeneralStyle.css" rel="stylesheet">
  </head>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'company:cadmin_landing' %}">Home</a></li><li class="breadcrumb-item"><a href="{% url 'company:cadmin_view_recruiters' %}">View Recruiters</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Recruiter</li>
  </ol>
</nav>
  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <h2 class='display-4'>Create Recruiter Account</h2>
      </div>
        {% block content %}
        <form method="post">
        {% csrf_token %}
        {{ form }}
            
        
       <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
        {%endblock%}
        </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
<!--
<div class="row">
        <div class="col-xl">
          <h4 class="mb-3">Create Recruiter</h4>
            
            <div class="mb-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Username</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Xx_pwns_employees_xX" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>
            
            <div class="mb-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Password</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="CoDisLif3" required>
                <div class="invalid-feedback" style="width: 100%;">
                  A password is required.
                </div>
              </div>
            </div>
            
            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Notes</span>
                </div>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        <a href="{% url 'company:cadmin_view_recruiters' %}" class="btn-lg btn-primary">Create</a>
-->