<!Doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Edit Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
    <link href="sticky-footer-navbar.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="search.js" rel="stylesheet">
</head>

<body class="bg-light" vertical-align="middle">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">HRSite</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="candidate_profile.html">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="candidate_search_jobs.html">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="candidate_smart_search.html">Smart Search</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="candidate_search_companies.html"> Companies
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <br>


    <div class="container">


        <br>
        <br>
        <h2 class="mt-0 mb-1">A</h2>
        <ul class="list-group mr-5 ml-5">

            <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Company Name</h5>
                        <p>Description of the Company hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhaa aadfasjdf asdf
                            asldflaskdfj asl;dkjfalsk djflaskd;faj lka</p>
                        <a href="company_profile.html">Profile</a>

                    </div>
                </div>
            </li>

            <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Company Name</h5>
                        <p>Description of the Company hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhaa aadfasjdf asdf
                            asldflaskdfj asl;dkjfalsk djflaskd;faj lka</p>
                        <a href="company_profile.html">Profile</a>

                    </div>
                </div>
            </li>
            <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Company Name</h5>
                        <p>Description of the Company hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhaa aadfasjdf asdf
                            asldflaskdfj asl;dkjfalsk djflaskd;faj lka</p>
                        <a href="company_profile.html">Profile</a>

                    </div>
                </div>
            </li>
            <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Company Name</h5>
                        <p>Description of the Company hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhaa aadfasjdf asdf
                            asldflaskdfj asl;dkjfalsk djflaskd;faj lka</p>
                        <a href="company_profile.html">Profile</a>

                    </div>
                </div>
            </li>
            <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Company Name</h5>
                        <p>Description of the Company hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhaa aadfasjdf asdf
                            asldflaskdfj asl;dkjfalsk djflaskd;faj lka</p>
                        <a href="company_profile.html">Profile</a>

                    </div>
                </div>
            </li>
        </ul>
        <h2 class="mt-0 mb-1">B</h2>
        <ul class="list-group mr-5 ml-5">

            <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Company Name</h5>
                        <p>Description of the Company hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhaa aadfasjdf asdf
                            asldflaskdfj asl;dkjfalsk djflaskd;faj lka</p>
                        <a href="company_profile.html">Profile</a>

                    </div>
                </div>
            </li>

            <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Company Name</h5>
                        <p>Description of the Company hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhaa aadfasjdf asdf
                            asldflaskdfj asl;dkjfalsk djflaskd;faj lka</p>
                        <a href="company_profile.html">Profile</a>

                    </div>
                </div>
            </li>
            <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Company Name</h5>
                        <p>Description of the Company hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhaa aadfasjdf asdf
                            asldflaskdfj asl;dkjfalsk djflaskd;faj lka</p>
                        <a href="company_profile.html">Profile</a>

                    </div>
                </div>
            </li>
            <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Company Name</h5>
                        <p>Description of the Company hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhaa aadfasjdf asdf
                            asldflaskdfj asl;dkjfalsk djflaskd;faj lka</p>
                        <a href="company_profile.html">Profile</a>

                    </div>
                </div>
            </li>
            <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Company Name</h5>
                        <p>Description of the Company hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhaa aadfasjdf asdf
                            asldflaskdfj asl;dkjfalsk djflaskd;faj lka</p>
                        <a href="company_profile.html">Profile</a>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>