<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Applied To</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="view_recruiters.css" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h2>Offers</h2>
        </div>


        <ul class="list-group mr-5 ml-5">
           <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Job 1</h5>
                        <p>Work as an employee on project 1! As a job 1, you'll be implementing deliverable1 in a timely manner</p>
                        <label class="text-muted">Skills </label>
                        <ol class="list-inline">
                            <li class="list-inline-item">
                                Skill 1
                            </li>
                            <li class="list-inline-item">
                                Skill 2
                            </li>
                            <li class="list-inline-item">
                                Skill 3
                            </li>
                            <li class="list-inline-item">
                                Skill 4
                            </li>
                            <li class="list-inline-item">
                                Skill 5
                            </li>
                            <li class="list-inline-item">
                                Skill 6
                            </li>
                            <li class="list-inline-item">
                                Skill 7
                            </li>
                            <li class="list-inline-item">
                                Skill 8
                            </li>
                            <li class="list-inline-item">
                                Skill 9
                            </li>
                            <li class="list-inline-item">
                                Skill 10
                            </li>
                        </ol>
                    </div>
                </div>
            </li>
        </ul>


        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017-2018 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Support</a>
                </li>
            </ul>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';

                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');

                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
    </script>
</body>

</html>
<!--  {%for offer in offer_list%}
            <li class="list-group-item mb-2">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{offer.job.job_title}}</h5>
                        <p>{{offer.job.job_description}}</p>
                        <label class="text-muted">Skills </label>
                        <ol class="list-inline">
                            <li class="list-inline-item">
                                {{offer.job.job_skills_1}}
                            </li>
                            <li class="list-inline-item">
                                {{offer.job.job_skills_2}}
                            </li>
                            <li class="list-inline-item">
                                {{offer.job.job_skills_3}}
                            </li>
                            <li class="list-inline-item">
                                {{offer.job.job_skills_4}}
                            </li>
                            <li class="list-inline-item">
                                {{offer.job.job_skills_5}}
                            </li>
                            <li class="list-inline-item">
                                {{offer.job.job_skills_6}}
                            </li>
                            <li class="list-inline-item">
                                {{offer.job.job_skills_7}}
                            </li>
                            <li class="list-inline-item">
                                {{offer.job.job_skills_8}}
                            </li>
                            <li class="list-inline-item">
                                {{offer.job.job_skills_9}}
                            </li>
                            <li class="list-inline-item">
                                {{offer.job.job_skills_10}}
                            </li>

                        </ol>
                    </div>
                </div>
            </li>
            {%endfor%}-->