<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Example Post -> Recruiter</title>

    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="recruiter_view_post.html" rel="stylesheet">
  </head>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="recruiter_landing.html">Home</a></li><li class="breadcrumb-item"><a href="recruiter_postings.html">My Postings</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Post</li>
  </ol>
</nav>
  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Example Post -> Recruiter</h2>
      </div>

      <div class="row">
        <div class="card w-100 h-100">
            <div class="display-1 ml-3">Job Title</div>
            <hr>
            <label class="text-muted ml-3">Job Description</label>
            <blockquote class="blockquote">
                <p class="ml-3 mr-3">
                    “Sonic get up”
                    “No”
                    “What do you mean no have you’ve forgotten that you’re parents are away? That you currently have a whole kingdom waiting for you to control them?” Shadow says as he stands at the edge of sonic’s bed staring impatiently at sonic hidden under piles of cover.
                    “No, I did not forget. How could I forget something so important?”
                    “Then why aren’t you ready?”
                    Shadow watch as the piles of covers slowly rising and Sonic head emerge. He pays close attention to every detail of him from his dark blue fur and emerald eyes. But his admiration also causes him to notice his mishaps such as his baggy eyes, slow movements, and messy bed head hair.
                    “You look like a mess. Clearly not the look of a king” Shadow states placing a hand on his hip.
                    “I guess it’s a good thing I’m not the king then,” Sonic says as he slowly drags himself into the bathroom.
                    Shadow walks towards the bathroom door and leans up on the wall “What were you even doing all night?”
                    “You see I was playing this video game and it kinda kept me playing till like 4:00 in the morning,” Sonic says with excitement but can hear Shadow sigh from the other side of the door. As result, the eager in his voice lessen “I’d tried to quit but I was so close to leveling up so close to getting that last boost of experience.”
                    “I wonder about you sometimes”
                    “You say that as if I act this way around everyone else”
                </p>
            </blockquote>
            <hr>
            <label class="text-muted ml-2">Location</label>
            <h3 class="ml-3">New Donk City</h3>
            <hr>
            <label class="ml-2 text-muted">Desired Skills</label>
            <ol class="list-inline ml-3">
                    <li class="list-inline-item">
                        Skill 1
                    </li>
                    <li class="list-inline-item">
                        Skill 2
                    </li>
                    <li class="list-inline-item">
                        Skill 3
                    </li>
                    <li class="list-inline-item">
                        Skill 4
                    </li>
                    <li class="list-inline-item">
                        Skill 5
                    </li>
                    <li class="list-inline-item">
                        Skill 1
                    </li>
                    <li class="list-inline-item">
                        Skill 2
                    </li>
                    <li class="list-inline-item">
                        Skill 3
                    </li>
                    <li class="list-inline-item">
                        Skill 4
                    </li>
                    <li class="list-inline-item">
                        Skill 5
                    </li>
                </ol>
            
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
